<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ring0.ffmpegandroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:maxSdkVersion="21"/>
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!-- ListActivity -->
        <activity
            android:name="com.ring0.ffmpegandroid.ListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- DecoderYuvActivity -->
        <activity
            android:name="com.ring0.ffmpegandroid.DecoderYuvActivity"
            android:label="@string/decoder_yuv_name" >
        </activity>
        <!-- DecoderPcmActivity -->
        <activity
            android:name="com.ring0.ffmpegandroid.DecoderPcmActivity"
            android:label="@string/decoder_pcm_name" >
        </activity>
        <!-- PlayerYuvActivity -->
        <activity
            android:name="com.ring0.ffmpegandroid.PlayerYuvActivity"
            android:label="@string/player_yuv_name" >
        </activity>
        <!-- PlayerPcmActivity -->
        <activity
            android:name="com.ring0.ffmpegandroid.PlayerPcmActivity"
            android:label="@string/player_pcm_name" >
        </activity>
        <!-- SimpleYuvActivity -->
        <activity
            android:name="com.ring0.ffmpegandroid.SimpleYuvActivity"
            android:label="@string/simple_yuv_name" >
        </activity>
        <!-- SimplePcmActivity -->
        <activity
            android:name="com.ring0.ffmpegandroid.SimplePcmActivity"
            android:label="@string/simple_pcm_name" >
        </activity>
        <!-- SimpleYuv420pSplitActivity -->
        <activity
            android:name="com.ring0.ffmpegandroid.SimpleYuv420pSplitActivity"
            android:label="@string/simple_yuv420p_split_name" >
        </activity>
        <!-- SimpleYuv444pSplitActivity -->
        <activity
            android:name="com.ring0.ffmpegandroid.SimpleYuv444pSplitActivity"
            android:label="@string/simple_yuv444p_split_name" >
        </activity>
        <!-- SimpleYuv420pHalfActivity -->
        <activity
            android:name="com.ring0.ffmpegandroid.SimpleYuv420pHalfActivity"
            android:label="@string/simple_yuv420p_half_name" >
        </activity>
        <!-- SimpleYuv420pGrayActivity -->
        <activity
            android:name="com.ring0.ffmpegandroid.SimpleYuv420pGrayActivity"
            android:label="@string/simple_yuv420p_gray_name" >
        </activity>
        <!-- SimpleYuv420pBoardActivity -->
        <activity
            android:name="com.ring0.ffmpegandroid.SimpleYuv420pBoardActivity"
            android:label="@string/simple_yuv420p_board_name" >
        </activity>
        <!-- SimpleYuv420pGraybarActivity -->
        <activity
            android:name="com.ring0.ffmpegandroid.SimpleYuv420pGraybarActivity"
            android:label="@string/simple_yuv420p_graybar_name" >
        </activity>
        <!-- SimpleYuv420pPsnrActivity -->
        <activity
            android:name="com.ring0.ffmpegandroid.SimpleYuv420pPsnrActivity"
            android:label="@string/simple_yuv420p_psnr_name" >
        </activity>
        <!-- SimpleRgb24SplitActivity -->
        <activity
            android:name="com.ring0.ffmpegandroid.SimpleRgb24SplitActivity"
            android:label="@string/simple_rgb24_split_name" >
        </activity>
        <!-- SimpleRgb24BmpActivity -->
        <activity
            android:name="com.ring0.ffmpegandroid.SimpleRgb24BmpActivity"
            android:label="@string/simple_rgb24_bmp_name" >
        </activity>
        <!-- SimpleRgb24Yuv420pActivity -->
        <activity
            android:name="com.ring0.ffmpegandroid.SimpleRgb24Yuv420pActivity"
            android:label="@string/simple_rgb24_yuv420p_name" >
        </activity>
        <!-- SimpleRgb24ColorbarActivity -->
        <activity
            android:name="com.ring0.ffmpegandroid.SimpleRgb24ColorbarActivity"
            android:label="@string/simple_rgb24_colorbar_name" >
        </activity>
        
        <!-- SimplePcm16leSplitActivity -->
        <activity
            android:name="com.ring0.ffmpegandroid.SimplePcm16leSplitActivity"
            android:label="@string/simple_pcm16le_split_name" >
        </activity>
        <!-- SimplePcm16leLefthalfActivity -->
        <activity
            android:name="com.ring0.ffmpegandroid.SimplePcm16leLefthalfActivity"
            android:label="@string/simple_pcm16le_lefthalf_name" >
        </activity>
        <!-- SimplePcm16leDoublespeedActivity -->
        <activity
            android:name="com.ring0.ffmpegandroid.SimplePcm16leDoublespeedActivity"
            android:label="@string/simple_pcm16le_doublespeed_name" >
        </activity>
        <!-- SimplePcm16lePcm8leActivity -->
        <activity
            android:name="com.ring0.ffmpegandroid.SimplePcm16lePcm8leActivity"
            android:label="@string/simple_pcm16le_pcm8le_name" >
        </activity>
        <!-- SimplePcm16leCorpActivity -->
        <activity
            android:name="com.ring0.ffmpegandroid.SimplePcm16leCorpActivity"
            android:label="@string/simple_pcm16le_corp_name" >
        </activity>
        <!-- SimplePcm16leWavActivity -->
        <activity
            android:name="com.ring0.ffmpegandroid.SimplePcm16leWavActivity"
            android:label="@string/simple_pcm16le_wav_name" >
        </activity>
        <!-- SimpleFFmpegPlayerActivity -->
        <activity
            android:name="com.ring0.ffmpegandroid.SimpleFFmpegPlayerActivity"
            android:label="@string/simple_ffmpeg_player_name" >
        </activity>
        <!-- SimpleFFmpegDecoderActivity -->
        <activity
            android:name="com.ring0.ffmpegandroid.SimpleFFmpegDecoderActivity"
            android:label="@string/simple_ffmpeg_decoder_name" >
        </activity>
        <!-- SimpleFFmpegEncoderActivity -->
        <activity
            android:name="com.ring0.ffmpegandroid.SimpleFFmpegEncoderActivity"
            android:label="@string/simple_ffmpeg_encoder_name" >
        </activity>
        <!-- SimpleFFmpegAudioPlayerActivity -->
        <activity
            android:name="com.ring0.ffmpegandroid.SimpleFFmpegAudioPlayerActivity"
            android:label="@string/simple_ffmpeg_audio_player_name" >
        </activity>
        <!-- SimpleYuv420pToVideo -->
        <activity
            android:name="com.ring0.ffmpegandroid.SimpleYuv420pToVideo"
            android:label="@string/simple_yuv420p_to_video_name" >
        </activity>
        <!-- SimpleYuv420pPictureActivity -->
        <activity
            android:name="com.ring0.ffmpegandroid.SimpleYuv420pPictureActivity"
            android:label="@string/simple_yuv420p_to_picture_name" >
        </activity>
        <!-- SimplePcmToAACActivity -->
        <activity
            android:name="com.ring0.ffmpegandroid.SimplePcmToAACActivity"
            android:label="@string/simple_pcm_to_aac_name" >
        </activity>
        <!-- SimpleYuv420pToH264Activity -->
        <activity
            android:name="com.ring0.ffmpegandroid.SimpleYuv420pToH264Activity"
            android:label="@string/simple_yuv420p_to_h264_name" >
        </activity>
        <!-- SimpleYuv420pToH265Activity -->
        <activity
            android:name="com.ring0.ffmpegandroid.SimpleYuv420pToH265Activity"
            android:label="@string/simple_yuv420p_to_h264_name" >
        </activity>
    </application>

</manifest>
